.emotional-flash{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-gallery{
  display: flex;

}

.card > img{
  width: 220px;
  height: 200px;
  margin: 10px 5px 10px 5px;
}

.card > img:hover{
	opacity: .7;
	cursor: pointer;
	border-style: solid;
}