.app{
	background-color: #cccccc;
}

.emotional-flash{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.home-page{
	margin: 50px 20px 50px 20px;
}

.card-gallery{
  display: flex;
}

.card{
	border-radius: 5px;
	margin: 20px;
}

.card > img{
  width: 220px;
  height: 200px;
  margin-bottom: -10px;
}

.card > img:hover{
	opacity: .85;
	cursor: pointer;
	border-style: solid;
	border-color: lightblue;
}

.level-left{
	margin-left: 14%;
}
.level-right{
	margin-right: 14%;
}

.level{
	background-color: #f0f0f0;
	width: 100%;
	height: 120px;
	position: fixed;
	bottom: 0;
}

.active{
	border-radius: 100px;
	padding: 5px 10px 5px 10px;
	background-color: #1182bb;
}

.navbar-item{
	font-size: 18px;
}

.nav-link{
	color: white;
	margin-right: 14px;
}
.nav-brand{
	font-weight: 900;
	font-size: 18px;
}

.categories{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.category-button{
	margin: 45px 15px 15px 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}